#!/usr/bin/perl -w

print "Loading quota.config ...\n";

# Example: old server |  200 |+| 800 |              (/var+/home) i.e. 200MB for Mail
#                     | part0|+|part1| + part2 ...        
#          new server |  800 |+| 120 |               and 200 mailquota  

# map new quota to old
# example:
# new quota value 0 (800MB) is fetched from old quota value 1 (800MB)
# $quota_map{0}=1;
$quota_map{0}=1;
#$quota_map{1}=0;

# new quota value that must be set and have no equivalent on th old server
# for all nonstandard quota in teacher.txt
$new_quota_teacher{1}=120;
#$new_quota_teacher{3}=2033;

# for all non-standard quota in classes
$new_quota_classes{1}=88;


# mailquota
# new mailquota value (200MB) is quota value of part0 from old server
$mailquota_map=0;
# set new_mailquota to a new value
# -1 : don't set it
#
# for all nonstandard quota in teacher.txt
$new_mailquota_teacher=-1;

# for all non-standard quota in classes
$new_mailquota_classes=-1;

print "... quota.config loaded\n";
