dn: @@basedn@@
objectClass: dcObject
objectclass: organization
o: linuxmuster
dc: @@dc@@

dn: ou=accounts,@@basedn@@
objectClass: organizationalUnit
ou: accounts

dn: ou=groups,@@basedn@@
objectClass: organizationalUnit
ou: groups

dn: ou=machines,@@basedn@@
objectClass: organizationalUnit
ou: machines

dn: sambaDomainName=@@workgroup@@,@@basedn@@
objectClass: sambaDomain
objectClass: sambaUnixIdPool
sambaDomainName: @@workgroup@@ 
sambaSID: @@sid@@
uidNumber: 1000
gidNumber: 1000

