Source: sophomorix
Section: admin
Priority: optional
Maintainer: Rüdiger Beck <jeffbeck@web.de>
Build-Depends: debhelper (>> 3.0.0), perl-base (>=5.8.4), man2html (>=1.5), docbook-utils (>=0.6.13)
Standards-Version: 3.5.2

Package: sophomorix-base
Architecture: any
Suggests: sophomorix-doc-html
Depends:  sophomorix-db, sophomorix-sysdb, quota (>=3.12), perl-base (>=5.8.4), libquota-perl (>= 1.4.9), samba (>= 3.0.7), libstring-approx-perl (>=3.23), tetex-base (>=2.0.2), tetex-bin (>=2.0.2), tetex-extra (>=2.0.2), gs-common (>=0.3.6)
Description: Scripts for sophomorix
 sophomorix-base contains all database independent scripts to run sophomorix
 on the console. You additionally need a perl-module(virtual package 
 sophomorix-db) to access the database (i.e. one of sophomorix-files, 
 sophomorix-ldap, sophomorix-sql)

Package: sophomorix-files
Architecture: any
Suggests: sophomorix-doc-html
Depends:  
Provides: sophomorix-db
Description: Database (plain files) for sophomorix
 Database module to store the Sophomorix database in files

Package: sophomorix-sys-files
Architecture: any
Suggests: sophomorix-doc-html
Depends:
Provides: sophomorix-sysdb
Description: Module to write to plain linux files
 This module contains functions to propagate the sophomorix database
 to /etc/passwd, /etc/shadow, /etc/group, /etc/gshadow, ...
 

Package: sophomorix-ldap
Architecture: any
Suggests: sophomorix-doc-html
Depends:  slapd (>=2.1.22), ldap-utils (>=2.1.22),libnet-ldap-perl (>=0.30)
Provides: sophomorix-db
Description: ldap direcory for sophomorix
 Database module to store the Sophomorix database in openldap

Package: sophomorix-developer
Architecture: any
Depends:  sophomorix-base (>=1.1.1)
Description: Test suite for sophomorix
 Scripts to test sophomorix on a runnig system. These scripts can screw up 
 your server!

Package: sophomorix-doc-html
Architecture: any
Depends: 
Description: Html documentation for sophomorix
 This Package contains the complete documentation for sophomorix

Package: sophomorix-webmin
Architecture: any
Depends:  webmin (>= 1.100)
Description: webmin-module for sophomorix
 webmin-modules to administrate sophomorix with webmin/usermin

Package: sophomorix-webmin-classmanager
Architecture: any
Depends:  webmin (>= 1.100)
Description: classmanager module
 webmin-module for teachers
