Source: sophomorix
Section: admin
Priority: optional
Maintainer: Rüdiger Beck <jeffbeck@web.de>
Build-Depends: debhelper (>> 3.0.0), perl-base (>=5.8.4), man2html (>=1.5), docbook-utils (>=0.6.13)
Standards-Version: 3.5.2

Package: sophomorix2
Architecture: any
Suggests: sophomorix-doc-html
Depends:  sophomorix-base (>=1.2.2-1), sophomorix-sys-files (>=1.2.2-1), sophomorix-files (>=1.2.2-1)
Description: sophomorix user adminitration meta package
 This package contains all the components necessary to add to your
 Debian GNU/Linux box a powerful user administration


Package: sophomorix-base
Architecture: any
Suggests: sophomorix-doc-html
Depends:  sophomorix-db, sophomorix-sysdb, libdbd-csv-perl (>=0.21), quota (>=3.12), perl-base (>=5.8.4), perl-suid (>=5.8.4), libquota-perl (>= 1.4.9), samba (>= 3.0.7), libstring-approx-perl (>=3.23), tetex-base (>=2.0.2), tetex-bin (>=2.0.2), tetex-extra (>=2.0.2), gs-common (>=0.3.6), rsync (>=2.6.3)
Description: scripts for sophomorix
 sophomorix-base contains all database independent scripts to run sophomorix
 on the console. You additionally need a perl-module(virtual package 
 sophomorix-db) to access the database (i.e. one of sophomorix-files, 
 sophomorix-ldap, sophomorix-sql)


Package: sophomorix-files
Architecture: any
Suggests: sophomorix-doc-html
Depends:  
Provides: sophomorix-db
Description: database (plain files) for sophomorix
 Database module to store the Sophomorix database in files

Package: sophomorix-sys-files
Architecture: any
Suggests: sophomorix-doc-html
Depends:
Provides: sophomorix-sysdb
Description: module to write to plain linux files
 This module contains functions to propagate the sophomorix database
 to /etc/passwd, /etc/shadow, /etc/group, /etc/gshadow, ...
 
Package: sophomorix-vampire
Architecture: any
Depends: sophomorix2 (>=1.2), rsync (>=2.6.3), ssh (>=3.8.1)
Provides: sophomorix-sysdb
Description: script to such data to a new server
 This script is run on a new sophomorix server. It pushes a ssh-key to an 
 old sophomorix-server, fetches its users and data. Perfect for big step 
 updates or moving to new hardware. Perhaps also a way to mirror a server
 for backup. 
 

Package: sophomorix-developer
Architecture: any
Suggests: perl-doc
Depends:  sophomorix-base (>=1.1.1)
Description: Test suite for sophomorix
 Scripts to test sophomorix on a runnig system. These scripts can screw up 
 your server!

Package: sophomorix-doc-html
Architecture: any
Depends: 
Description: Html documentation for sophomorix
 This Package contains the complete documentation for sophomorix

