Source: sophomorix
Section: admin
Priority: optional
Maintainer: Rüdiger Beck <jeffbeck@web.de>
Build-Depends: debhelper (>> 3.0.0), perl-base (>=5.8.4), man2html (>=1.5), docbook-utils (>=0.6.13), fakeroot, docbook
Standards-Version: 3.5.2


Package: sophomorix2
Architecture: all
Suggests: sophomorix-doc-html
Depends:  sophomorix-base (>=2.0.3-1), sophomorix-pgldap (>=2.0.3-1)
Description: sophomorix user adminitration meta package
 This package contains all the components necessary to add to your
 Debian GNU/Linux box a powerful user administration


Package: sophomorix-base
Architecture: all
Suggests: sophomorix-doc-html
Pre-Depends:  samba (>= 3.0.7)
Depends:  libdate-calc-perl, libexpect-perl, libterm-readkey-perl, quota (>=3.12), perl-base (>=5.8.4), perl-suid (>=5.8.4), libquota-perl (>= 1.4.9),  libstring-approx-perl (>=3.23),libmailtools-perl (>=1.62), libimap-admin-perl (>=1.6.1), tetex-base (>=2.0.2), tetex-bin (>=2.0.2), tetex-extra (>=2.0.2), gs-common (>=0.3.6), rsync (>=2.6.3), zip, gzip (>=1.3.5), bzip2
Description: scripts for sophomorix
 sophomorix-base contains all database independent scripts to run sophomorix
 on the console. You additionally need a perl-module to access the postgres 
 database (i.e. sophomorix-pgldap)


Package: sophomorix-pgldap
Architecture: all
Suggests: sophomorix-doc-html
Pre-Depends: postgresql-8.1 (>=8.1), postgresql (>=7.4.7), slapd (>=2.3.29)
Depends:  sophomorix-base, libpam-ldap (>=178), ldap-utils (>=2.3.29), libnss-ldap (>=238), odbc-postgresql, unixodbc (>=2.2.4), libiodbc2 (>=3.52.2), iodbc (>=3.52.2), smbldap-tools (>=0.8.7), libcrypt-smbhash-perl (>=0.02), libdbd-pg-perl (>=1.41) 
Provides: sophomorix-db
Description: postgresql database with ldap access for sophomorix
 Database module to store the Sophomorix database in postgresql and make 
 the database available in openldap.

Package: sophomorix-vampire
Architecture: all
Depends: sophomorix2 (>=2.0.3-1), rsync (>=2.6.3), ssh (>=3.8.1), mailsync
Description: script to migrate data from an old server to a new server
 This script is run on a new sophomorix server. It pushes a ssh-key to an 
 old sophomorix-server, fetches its users and data. Perfect for big step 
 updates or moving to new hardware. Perhaps also a way to mirror a server
 for backup. 
 

Package: sophomorix-developer
Architecture: all
Suggests: perl-doc
Depends:  sophomorix2 (>=2.0.3-1)
Description: Test suite for sophomorix
 Scripts to test sophomorix on a runnig system. These scripts can screw up 
 your server!

Package: sophomorix-doc-html
Architecture: all
Depends: 
Description: Html documentation for sophomorix
 This Package contains the complete documentation for sophomorix

