#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3



ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
#	$(MAKE)
	#/usr/bin/docbook-to-man debian/sophomorix.sgml > sophomorix.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/sophomorix.
	$(MAKE) install-base DESTDIR=$(CURDIR)/debian/sophomorix
#	$(MAKE) install-ldap DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) install-files DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) install-sys-files DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) install-pgldap DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) install-sys-pgldap DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) install-developer DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) install-vampire DESTDIR=$(CURDIR)/debian/sophomorix
#	$(MAKE) install-webmin-classmanager DESTDIR=$(CURDIR)/debian/sophomorix
	$(MAKE) doc DESTDIR=$(CURDIR)/debian/sophomorix


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installchangelogs
# install debian/copyright file in every package:
	dh_installdocs
	dh_installdocs -psophomorix-doc-html sophomorix-doc/html
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
# Install manpages for sophomorix-base
	dh_installman -psophomorix2 sophomorix2/man/de/sophomorix.de.8
	dh_installman -psophomorix-base sophomorix-base/man/en/sophomorix-check.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-check.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-add.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-move.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-kill.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-print.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-split.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-project.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-class.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-user.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-setup.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-samba.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-quota.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-repair.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-teach-in.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-passwd.de.8
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-teacher.de.1
	dh_installman -psophomorix-base sophomorix-base/man/de/sophomorix-webmin.de.8
# Install manpages for sophomorix-files
	dh_installman -psophomorix-files sophomorix-files/man/de/sophomorix-search.de.8
# Install manpages for sophomorix-developer
	dh_installman -psophomorix-developer sophomorix-developer/man/de/sophomorix-test.de.8
	dh_installman -psophomorix-pgldap sophomorix-pgldap/man/de/sophomorix-setup-pgldap.de.8
	dh_installman -psophomorix-developer sophomorix-developer/man/de/sophomorix-test-bunchofusers.de.8
	dh_installman -psophomorix-developer sophomorix-developer/man/de/sophomorix-test-functions.de.8
	dh_installman -psophomorix-developer sophomorix-developer/man/de/sophomorix-test-api-functions.de.8
	dh_installman -psophomorix-developer sophomorix-developer/man/de/sophomorix-test-extra.de.8
# Install manpages for sophomorix-vampire
	dh_installman -psophomorix-vampire sophomorix-vampire/man/de/sophomorix-vampire.de.8

#	dh_installinfo
#	dh_undocumented
	dh_install --sourcedir=debian/sophomorix
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
