#! /bin/sh

set -e

dbc_install="true"
dbc_upgrade="true"
dbc_remove=""

dbc_dbtype="pgsql"
dbc_dbuser="sophomorix"
dbc_dbname="sophomorix"
dbc_dbpass=""
dbc_dbserver=""
dbc_dbport=""
dbc_dbadmin="postgres"
dbc_ssl=""
dbc_authmethod_admin="ident"
dbc_authmethod_user="ident"



# source debconf stuff
. /usr/share/debconf/confmodule

# source dbconfig-common stuff
. /usr/share/dbconfig-common/dpkg/config.pgsql


# do it
# parameter 1: package name
# parameter 2: arguments that were passed to the maintainer script
dbc_go sophomorix-pgldap $@
