[PostgreSQL]
Description=ODBC for PostgreSQL
Driver=/usr/lib/odbc/psqlodbc.so

[ODBC]
Trace=No
Debug=No
Pooling=No

[MySQL]
Description     = MySQL driver
Driver          = /usr/lib/odbc/libmyodbc.so
Setup           = /usr/lib/odbc/libodbcmyS.so
CPTimeout       =
CPReuse         =

[unixODBC]
Description	= ODBC Driver for Unix
Driver		= /usr/lib/libodbc.so
Setup		= /usr/lib/libodbcinst.so
FileUsage	= 1
CPTimeout	= 
CPReuse		= 
